body

{
 background-color:pink;
font-family: 'Roboto', sans-serif;
}
/*NAVBAR*/
.navbar-light .navbar-brand ,.navbar-light .navbar-nav .nav-link {
 color: rgb(255,0,0);
}
.bg-light {
    background-color: yellow!important;
}
#FOOTER
.footer
{
width:100%;
height:60px;
background-color:gray;
position:fixed;
left:0;
bottom:0;}

.btn
{
width:200px;}
